<div style="clear: both;"><a  style="float:left;" href="https://www.utdallas.edu/"><img src="assets/img/utdallaslogo.png"></a></div>
<div class ="mainText"><img src="assets/img/Logo1.png" width=40% height=40% ></div>
<div style="clear: both;" class = "navbar"><nav>
    <ul>
        <!-- <li><a href="/launch">Launch</a></li> -->
        <li><a href="/faculty" (click)='promptBox()'>Staff</a></li>
        <li><a href="/student">Student</a></li></ul>
</nav></div>
<div style="clear: both;"><router-outlet></router-outlet></div>
