.app-theme {
  height: 100%;
  overflow: auto;
  // background-color:
}

.header {
  margin-left: 5px;
  margin-right: 5px;
  // background-color:
}

.app-area {
  margin-left: 5px;
  margin-right: 5px;
  height: 90%;
  display: grid;
  grid-template-columns: 200px auto;
}

.nav-area {
  margin-right: 5px;
  // background-color:
}

.content-area {
  // background-color:
}
