<div class="modal-header">
  <h4 class="modal-title">Delete {{machine.machineName}}</h4>
  <button class="btn btn-outline-secondary" aria-label="Close" (click)="activeModal.close()" style="width: 40px;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="form-row">
    <div class="form-group col-6">
      <label class="no-input-label" for="machineName">Machine Name</label>
      <div class="input-group">{{ machine.machineName }}</div>
    </div>
    <div class="form-group col-6">
      <label class="no-input-label" for="machineTag">Machine Tag</label>
      <div class="input-group">{{ machine.machineTag }}</div>
    </div>
  </div>
</div>

<div class="modal-footer d-flex flex-row-reverse justify-content-between">
  <div class="d-block w-25">
    <button type="button" class="btn w-100" (click)="onClickSubmitButton($event.currentTarget)">
      Submit
    </button>
  </div>
</div>
