.modal-header {
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #4d4d4d;
}

.modal-body {
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #4d4d4d;
  border-top: 0;
}

.modal-footer {
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #4d4d4d;
  border-top: 0;
}

.btn {
  color: white;
}

.btn-outline-secondary {
  border-color: #4d4d4d;
}
