<h1 >Faculty View</h1>
<div id="buffer">
    <button class="button button1">Schedule New Student</button><br>
    <button class="button button1">Manage Schedule</button><br>
    <button class="button button1">Manage Students</button><br>
    <button class="button button1">View Log</button>
    <h1 align="center">Manage Schedule</h1>
    <p align="center">March 23rd, 2020</p>
    <table style="width:100%">
        <tr>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>NetID</th>
          <th>Training Level</th>
          <th>Time</th>
        </tr>
        <tr>
            <td>Komplin</td>
            <td>Brandon</td>
            <td>abc123456</td>
            <td>NOT TRAINED</td>
            <td>2:00pm</td>
          </tr>
        <tr>
            <td>Soname</td>
            <td>Simeon</td>
            <td>abc123456</td>
            <td>IN TRAINING</td>
            <td>2:30pm</td>
          </tr>
        <tr>
          <td>Ireland</td>
          <td>Wesley</td>
          <td>abc123456</td>
          <td>NOT TRAINED</td>
          <td>3:00pm</td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>Autumn</td>
          <td>abc123456</td>
          <td>NOT TRAINED</td>
          <td>3:30pm</td>
        </tr>
      </table>
</div>
