<div class="modal-header">
  <h4 class="modal-title" *ngIf="editMode">Edit {{machine.machineName}}</h4>
  <h4 class="modal-title" *ngIf="!editMode">Add new machine</h4>
  <button class="btn btn-outline-secondary" aria-label="Close" (click)="activeModal.close()" style="width: 40px;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form autocomplete="off" [formGroup]="formMachine">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="machineName">Machine Name <span class="text-required">*</span></label>
        <div class="input-group">
          <input type="text" class="form-control" id="machineName" formControlName="machineName" tabindex="0"/>
        </div>
        <span class="text-required" *ngIf="formMachine.get('machineName')!.touched && formMachine.get('machineName')!.errors">Enter a machine name</span>
      </div>
      <div class="form-group col-6">
        <label for="machineTag">Machine Tag <span class="text-required">*</span></label>
        <div class="input-group">
          <input type="text" class="form-control" id="machineTag" formControlName="machineTag" tabindex="0"/>
        </div>
        <span class="text-required" *ngIf="formMachine.get('machineTag')!.touched && formMachine.get('machineTag')!.errors">Enter a machine tag</span>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer d-flex flex-row-reverse justify-content-between">
  <div class="d-block w-25">
    <button type="button" class="btn w-100"
      #p="ngbPopover"
      ngbPopover="Ensure all required fields are populated!"
      triggers="manual"
      (click)="formMachine.invalid ? p.open() : onClickSubmitButton($event.currentTarget)">
      Submit
    </button>
  </div>
</div>
