// font-awesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

/* You can add global styles to this file, and also import other style files */
html, body {
  /* css variables */
  --utdesign-green-color: rgba(76, 175, 80, 1.0);
}

a {
  color: white;
}

p {
  padding-left: 50px;
}

h1 {
  padding-left: 50px;
}

button {
    background-color: var(--utdesign-green-color);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid var(--utdesign-green-color);
    border-radius:8px;
    padding:10px;
}

.button1:hover {
    background-color: var(--utdesign-green-color);
    color: white;
}

div#buffer {
    padding: 50px
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}
