<!-- <h1 >Staff View</h1> -->
<h1><img src="assets/img/Staff Login.png" width=10% height=10%></h1>
<div id="buffer">
    <button class="button button1" (click)='scheduleNew()'>Schedule New Student</button><br>
    <button class="button button1" (click)='manageSchedule()'>Manage Schedule</button><br>
    <button class="button button1" (click)='showAllStudents()'>Show All Students</button><br>
    <button class="button button1" (click)='postStudentTest()'>Manage Students</button><br>
    <button class="button button1" (click)='postAppointmentTest()'>Test Service Call (Post Appointment)</button><br>
    <button class="button button1" (click)='postUseRecordTest()'>Test Service Call (Post Use Record)</button><br>
    <button class="button button1" (click)='downloadLog()'>Download Log</button>
      <app-show-students *ngIf="showStudents"></app-show-students>
</div>
