<h1 align="center">All Machines</h1>
<p align="center">{{currentDate | date: 'longDate'}}</p>
<table style="width:100%">
    <tr>
      <th>Organizaer</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
   <tr *ngFor="let appointment of appointments; let i = index">
      <td>{{appointment.organizer}}</td>
      <td>{{appointment.startTime | date: 'longDate'}}</td>
      <td>{{appointment.startTime | date: 'shortTime'}}</td>
      <td>{{appointment.endTime | date: 'shortTime'}}</td>
   </tr>
  </table>