<h1 align="center">All Students</h1>
<p align="center">{{currentDate | date: 'longDate'}}</p>
<table style="width:100%">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Net ID</th>
      <th>Training Level</th>
      <th>Group</th>
      <th>Actions</th>
    </tr>
   <tr *ngFor="let student of students; let i = index">
      <td>{{student.lastName}}</td>
      <td>{{student.firstName}}</td>
      <td>{{student.netId}}</td>
      <td>{{student.trainingLevel}}</td>
      <td>{{student.identifier}}</td>
      <td><button class="" (click)="openEditStudentModal(student)"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>
      <button class="" (click)="openDeleteStudentModal(student)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
   </tr>
  </table>
