<h1><img src="assets/img/Student Login.png" width=20% height=20%></h1>
<div id="buffer">
  <form [formGroup]="loginForm">
    <div style="margin-bottom: 1pc;">
      <label for="netId" class="required-field" > netID: </label>
      <div style="margin-bottom:1pc;">
        <input id="netId" type="text" formControlName="loginNetId">
      </div>
    </div>
    
    <div style="margin-bottom: 1pc;">
      <div style="margin-top: 1pc;">
        <label for="netId"> Team Name: </label>
      </div>
      <input id="teamName" type="text" formControlName="teamName">
    </div>
    <button class="button" type="button"
      #p="ngbPopover"
      ngbPopover="Please enter a Net ID"
      triggers="manual"
      (click)="loginForm.invalid ? p.open() : onSubmit()">
      Confirm</button>
  </form>

  <div style="margin-top: 2pc;">
    <p><span style="color: red">*</span> - Required Field</p>
  </div>

  <form [formGroup]="machineForm">
    <!-- <p style="margin-top: 1pc;">Please choose the equipment you will be using from the list below: </p>

    <p>
      <input type="checkbox" id="equipment1" name="equipment1" value="equipment1">
      <label for="equipment1">Equipment 1</label><br>
      <input type="checkbox" id="equipment2" name="equipment2" value="equipment2">
      <label for="equipment2">Equipment 2</label><br>
      <input type="checkbox" id="equipment3" name="equipment3" value="equipment3">
      <label for="equipment3">Equipment 3</label><br>
      <input type="checkbox" id="equipment4" name="equipment4" value="equipment4">
      <label for="equipment4">Equipment 4</label><br>
      <input type="checkbox" id="equipment5" name="equipment5" value="equipment5">
      <label for="equipment5">Equipment 5</label><br>
      <input type="checkbox" id="equipment6" name="equipment6" value="equipment6">
      <label for="equipment6">Equipment 6</label><br>
    </p> -->

  </form>
    <!-- <button class="button button1" (click)='showUnknown()'>Confirm</button><br> -->
</div>
