<h1><img src="assets/img/Student Login.png" width=20% height=20%></h1>
<div id="buffer">
  <form [formGroup]="loginForm">
    <div style="margin-bottom: 1pc;">
      <label for="netId" class="required-field" > netID: </label>
      <div style="margin-bottom:1pc;">
        <input id="netId" type="text" formControlName="loginNetId">
      </div>
    </div>

    <div style="margin-bottom: 1pc;">
      <div style="margin-top: 1pc;">
        <label for="netId"> Team Name: </label>
      </div>
      <input id="teamName" type="text" formControlName="teamName">
    </div>
    <button class="button" type="button"
      #p="ngbPopover"
      ngbPopover="Please enter a Net ID"
      triggers="manual"
      (click)="loginForm.invalid ? p.open() : onSubmit()">
      Confirm</button>
  </form>

  <div style="margin-top: 2pc;">
    <p><span style="color: red">*</span> - Required Field</p>
  </div>
</div>
